@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.skill-heading{
    margin-top: 70px;
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    background: linear-gradient(90deg, #0051ff, #0ad0fc, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Skill-content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 50px;
}
.Skill-content h2{
    text-align: center;
    margin-bottom: 30px;
}
.Skill-content .technical,
.Skill-content .soft{
    width: 50%;
}
@media only screen and (max-width: 768px){
    .skill{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Skill-content{
        flex-direction: column;
    }
    .Skill-content .technical,
    .Skill-content .soft{
        width: 100%;
    }
}