/* .professional{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.single-circle{
    margin-right: 10px;
    margin-left: 50px;
} */
.professional{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}
.single-circle h4{
    margin-bottom: 10px;
    text-align: center;
}