*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f 0%, #23242a 50%, #191924 100%);
    background-attachment: fixed;
    color: white; 
}
.app{
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (max-width: 768px) {
    .app{
        margin: 10px;
    }
    
}